*{
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
html{
    font-size: 19.2px;
}
body {
    margin: 0;
    min-width: 1920px;
    min-height: 650px;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ellipsis{
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //用省略号显示
    white-space:nowrap; //不换行
}
.lastBox{
    width: px2Rem(75px) !important;
}
.lastBigBox{
    width: px2Rem(183px) !important;
}
.PopInput{
    width: px2Rem(90px) !important;
}
.opacityHeader{
    opacity: 0;
}
.fixedHeaderBox{
    position: relative;
}
//::-webkit-scrollbar {
//
//}

///*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
//::-webkit-scrollbar
//{
//    width: 10px;
//    height: 16px;
//    background-color: #F5F5F5;
//    padding-top: 100px;
//}
//
///*定义滚动条轨道 内阴影+圆角*/
//::-webkit-scrollbar-track
//{
//    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//    //border-radius: 10px;
//    background-color: #F5F5F5;
//    padding-top: 100px;
//}
//
///*定义滑块 内阴影+圆角*/
//::-webkit-scrollbar-thumb {
//    border-radius: 10px;
//    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
//    background-color: red;
//    position: relative;
//    top: 100px;
//    transform: translateY(100px);
//}
.fixedHeader{
    position: absolute;
    top: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}
.tableBox{
    border: 1px solid #EBEBEB;
    //min-height: 300px;
    overflow-y: scroll;
    //max-height: 500px;
    height: 500px;
}
@media screen and (max-width: 1300px) {
    .PopInput{
        width: px2Rem(80px) !important;
    }
}
